<h2>My Empoyees</h2>
<div>
  <label for="new-employee">Employee name: </label>
  <input id="new-employee" #employeeName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    class="add-button"
    (click)="add(employeeName.value); employeeName.value = ''"
  >
    Add employee
  </button>
</div>

<ul class="employees">
  <li *ngFor="let employee of employees">
    <a routerLink="/detail/{{ employee.id }}">
      <span class="badge">{{ employee.id }}</span> {{ employee.name }}
    </a>
    <button class="delete" title="delete employee" (click)="delete(employee)">
      x
    </button>
  </li>
</ul>
